/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$base-color: lighten(#000000, 10%);
$background-color: lighten(yellow, 48%);
$font-family: dynamic(arial);
$checkboxfield-checkbox-color:lighten(black,10%);